# Archivos temporales
*.log
*.tmp

# Dependencias de Node
node_modules/

# Dependencias de PHP
vendor/

# IDEs
.vscode/
.idea/
.env
config/db.php
/.env

# Archivos y directorios sensibles
config/db.php
backups/
*.sql
*.zip
*.tar
*.bak
*.png
